* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text {
    text-align: center;
    margin-top: 2rem;
}
.text p {
    width: 65%;
    margin: auto;
    margin-top: 1rem;
}

.Supervisor{
    background: white;
    border-top: 4px solid hsl(212, 86%, 64%);
    border-radius: 10px;
    height: 45vh;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
    padding: 2rem;
}

.Supervisor p {
    margin: 1rem 0 1rem 0;
    background-color: white;
}
.sicon {
    text-align: end;
    background-color: white;
    color: white;
}
.teambuilder {
    background: white;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    border-top: 4px solid hsl(0, 78%, 62%);
    border-radius: 10px;
    padding: 2rem;
    height: 45vh;
}
.teambuilder p {
    margin: 1rem 0 1rem 0;
}
.karma{
    background: white;
    margin: auto;
    width: 80%;
    padding: 2rem;
    margin-top: 3rem;
    border-top: 4px solid hsl(34, 97%, 64%);
    border-radius: 10px;
    height: 45vh;
}
.karma p{
    margin: 1rem 0 1rem 0;
}
.calculator {
    margin: auto;
    width: 80%;
    background: white;
    margin-top: 3rem;
    border-top: 4px solid hsl(212, 86%, 64%);
    border-radius: 10px;
    height: 45vh;
    padding: 2rem;
    margin-bottom: 4rem;
}
.calculator p {
    margin: 1rem 0 1rem 0;
}
@media (min-width :1022px) {
    .Supervisor{
        background: white;
        border-top: 4px solid hsl(180, 62%, 55%);
        border-radius: 10px;
        height: 45vh;
        width: 30%;
        margin: auto;
        margin-top: 4rem;
        padding: 2rem;
        position: absolute;
        /* top: 11rem; */
        /* right: 27rem; */
        left: 3%;
        top: 57%;
        

    }
    .teambuilder {
        background: white;
        width: 30%;
        margin: auto;
        margin-top: 3rem;
        border-top: 4px solid hsl(0, 78%, 62%);
        border-radius: 10px;
        padding: 2rem;
        height: 45vh;
        position: absolute;
        /* bottom: 20rem; */
        left: 35%;
    }
    .calculator {
        width: 30%;
        background: white;
        margin-top: 3rem;
        border-top: 4px solid hsl(212, 86%, 64%);
        border-radius: 10px;
        height: 45vh;
        padding: 2rem;
        position: absolute;
        /* left: 27rem;  */
        right: 3%;
        top: 60%;
        /* bottom: 50rem;     */
    }
    .karma{
        background: white;
        margin: auto;
        width: 30%;
        padding: 2rem;
        margin-top: 3rem;
        border-top: 4px solid hsl(34, 97%, 64%);
        border-radius: 10px;
        height: 45vh;
        position: absolute;
        /* bottom: 20rem */
        right: 35%;
        top: 79%;
        margin-bottom: 6rem;
        
    }
    .text {
        text-align: center;
        margin-top: 2rem;
    
    }
    .text p {
        width: 40%;
        margin: auto;
        margin-top: 1rem;
    }
    .text h2 {
        font-size: 30px; 
    }
    .p {
        font-size: 30px
    }
    

};
    

